<div class="jumbotron text-center">
    <h1>Welcome!</h1>
	
	<p>{{ message }}</p>
</div>

<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 drop-shadow">
				<h2 class="text-center">About</h2>
				<p>About me.</p>
			</div>
			<div class="col-sm-4 drop-shadow">
				<h2 class="text-center">Resume</h2>
				<p>Get to the good stuf.</p>
			</div>
			<div class="col-sm-4 drop-shadow">
				<h2 class="text-center">Blog</h2>
				<p>My development blog.</p>
			</div>
		</div>			
</div>
    
