body {
    margin: 70px auto;
}
i {
    padding: 6px;
}

.footerhr .list-inline .listpad {
	margin-top: 0px;
	margin-bottom: 0px;
	border-width: 0px;
    padding: 0px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}
